<!DOCTYPE html>
<html style="display: none;" <% if(config.language !== null) { %>lang="<%- config.language.substring(0,2) %>"<% } %>>
    <%- partial('_partial/head') %>
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <style type="text/css">
    /*重新定义gitment样式*/
    .gitment-editor-tab {
        margin: 0px;
    }
    .gitment-editor-main {
        background-color: white;
    }
    .gitment-comment-main {
        background-color: white;
    }
    .gitment-editor-submit:enabled {
        background-color: black;
    }
    .gitment-editor-submit:disabled {
        background-color: gray;
    }

    /*重新定义MathJax样式，去掉框线*/
    .MathJax {
        outline: 0;
    }

    /*重新定义代码块样式*/
    #post-content pre {
        color: rgb(255, 240, 192);
        background-color: rgba(17, 17, 31, 1);
        /* border-radius: 3px; */
    }
    #post-content pre code {
        font-family: "Consolas","Monaco";
    }

    /*重新定义表格样式*/
    #post-content table td {
        border: 1px solid rgb(156, 156, 156);
    }
    #post-content table th {
        color: white;
        background-color: rgba(128, 128, 128, 0.5);
        border: 1px solid rgb(156, 156, 156);
    }

    /*重新定义头部Tags标签样式*/
    #scheme-Isolation .post_entry-tags-head-list {
        padding: 0;
        margin: 0;
    }
    #scheme-Isolation .post_entry-tags-head-list-item {
        list-style: none;
        float: left;
        font-size: 11px;
        border: 1px solid #c2c2c2;
        letter-spacing: 1px;
        border-radius: 3px;
        padding-right: 6px;
        padding-left: 8px;
        margin-top: 8px;
        margin-right: 8px;
        text-align: center;
        -webkit-appearance: none;
    }
    #scheme-Isolation .post_entry-tags-head-list-count {
        margin-left: 2px;
        color: #BBBBBB;
    }
    #scheme-Isolation .post_entry-tags-head-list-item a {
        text-decoration: none;
        color: white;
        font-weight: 500;
    }
    </style>
    <% if(page.layout === 'gallery') { %>
        <!-- Single Gallery Page -->
        <%- partial('_widget/page-gallery') %>
    <% } else { %>
        <body id="scheme-<%= theme.scheme %>" class="lazy">
            <div class="material-layout  mdl-js-layout has-drawer is-upgraded">
                <% if(theme.scheme === 'Isolation') { %>
                    <!-- Isolation Header -->
                    <%- partial('_partial/isolate_info') %>
                <% } %>

                <!-- Main Container -->
                <main class="material-layout__content" id="main">

                    <!-- Top Anchor -->
                    <div id="top"></div>

                    <% if(theme.scheme === 'Paradox') { %>
                        <!-- Hamburger Button -->
                        <button class="MD-burger-icon sidebar-toggle">
                            <span class="MD-burger-layer"></span>
                        </button>
                    <% } %>

                    <%- body %>

                    <% if(theme.scheme === 'Paradox') { %>
                        <%- partial('_partial/sidebar') %>
                    <% } %>

                    <% if( (theme.scheme === 'Paradox') && (is_post() || is_home() || is_archive() || is_category() || (page.totop === true) ) ) { %>
                        <!-- Footer Top Button -->
                        <%- partial('_partial/footer_top')  %>
                    <% } %>

                    <%- partial('_partial/footer') %>

                    <%- partial('_partial/import_js') %>
                    <div id="container"></div>
                    <script src="/js/gitment.browser.js"></script>

                    <div id="loadComment" class="post_entry-module mdl-card <% if(theme.card_elevation) { %><%= 'mdl-shadow--' + theme.card_elevation + 'dp' %><% } %> mdl-cell mdl-cell--12-col fade out"  style="background-color: rgba(0, 47, 85, 0.5); min-height: 32px; margin-bottom: 0px;">
                        <center style="margin-top: 6px;">
                            <a href="javascript:loadComment()" title="加载评论" style="color: rgb(129, 248, 228); text-decoration: none;">
                                <span id="BackgroundSwitchTitle">加载评论</span>
                            </a>
                        </center>
                    </div>

                    <script>
                        function loadComment() {
                            var p_id = '<%= page.title %>'
                            if (p_id == '')
                                p_id = 'home'
                            var gitment = new Gitment({
                                id: p_id,
                                owner: 'stefenson',
                                repo: 'blog_comment',
                                oauth: {
                                    client_id: '11eae2a971d306a1da92',
                                    client_secret: '4ab3eb2e110d470092f71f89ad8126654048f609',
                                },
                            })
                            gitment.render('container')

                            var lc_btn = document.getElementById("loadComment");
                            var m = document.getElementById("main");
                            m.removeChild(lc_btn);
                        }
                    </script>
                </main>
            </div>
            <!-- <script type="text/javascript" src="//cdn.bootcss.com/canvas-nest.js/1.0.0/canvas-nest.min.js"></script> -->
            <script type="text/javascript" src="/js/nest.min.js"></script>
            <script>
            (function(i,s,o,g,r,a,m){i["DaoVoiceObject"]=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;a.charset="utf-8";m.parentNode.insertBefore(a,m)})(window,document,"script",('https:' == document.location.protocol ? 'https:' : 'http:') + "//widget.daovoice.io/widget/f5a96f80.js","daovoice")
            daovoice('init', {
                app_id: "f5a96f80"
            });
            daovoice('update');
            </script>
            <style>
            #daodream-container .daodream-sheet-header
            {
                background-image: none;
            }
            </style>
        </body>
    <% } %>
</html>
