<header class="header">
    <div class="header-wrapper">
        <!-- Header Copyright -->
        <div class="header-copyright" style="bottom: -150px">
            <div class="header-site">
                ©&nbsp;
                <script type="text/javascript">
                    var fd = new Date();
                    document.write(fd.getFullYear());
                </script>
                &nbsp;<%- config.title %>
            </div>
            <!--
            I'm glad you use this theme, the development is no so easy, I hope you can keep the copyright.
            It will not impact the appearance and can give developers a lot of support :)

            很高兴您使用该主题，开发不易，希望您可以保留一下版权声明。
            它不会影响美观并可以给开发者很大的支持。 :)
            -->
            <div>
                Powered by <a href="https://hexo.io" target="_blank" class="footer-develop-a">Hexo</a>
                <br>
                Theme - <a href="https://github.com/viosey/hexo-theme-material" target="_blank" class="footer-develop-a">Material</a>
                <br>
                <br>友情链接：
                <br>某可爱的司机的博客 <a href="https://blog.chionlab.moe" class="footer-develop-a">Chion82的未来道具研究所</a>
                <br>某可爱的日天的博客 <a href="https://sunskyxh.github.io" class="footer-develop-a">香鸡鸡的小窝</a>
                <br>某可爱的miruku博客 <a href="https://mirukuchan.github.io" class="footer-develop-a">世界尽头的百货公司</a>
                <br>某可爱的钟叔的博客 <a href="https://kurumichann.github.io" class="footer-develop-a">kurumi's blog(miruku?)</a>
            </div>
        </div>

        <!-- Header Title -->
        <span class="header-title header-item">
            <a href="<%= config.root %>" title="<%= config.title %>">
                <%= config.title %>
            </a>
        </span>

        <p class="header-slogan header-item">
        <% if(theme.uiux.slogan) { %>
            <% if(Array.isArray(theme.uiux.slogan)) { %>
                <%- theme.uiux.slogan.join('<br>') %>
            <% } else { %>
                <%- theme.uiux.slogan %>
            <% } %>
        <% } %>
        </p>

        <!-- Header Nav -->
        <nav class="header-nav header-item">
            <span class="header-nav-item">
                <a href="<%= config.root %>" title="Home">
                    <span><%= __('misc.home') %></span>
                </a>
            </span>

            <!-- Pages  -->
            <% for (var i in theme.sidebar.pages) { %>
                <span class="header-nav-item">
                    <a href="<%= theme.sidebar.pages[i].link || '#' %>" title="<%= i %>">
                        <span><%= i %></span>
                    </a>
                </span>
            <% } %>
            <span class="header-nav-item">
                <a id="BackgroundSwitch" href="javascript:switchbg()" title="暂停背景">
                    <span id="BackgroundSwitchTitle">暂停背景</span>
                </a>
            </span>
            <span class="header-nav-item">
                <a id="MouseTrack" href="javascript:mousetrack()" title="追踪鼠标">
                    <span id="BackgroundSwitchTitle">追踪鼠标</span>
                </a>
            </span>
        </nav>

        <!-- Header SNS isolate-sns_list.ejs -->

        <!-- Header Nav Pages Level2 -->
        <nav class="header-nav header-item">
            <% for (var i in theme.sidebar.pages_lv2) { %>
                <span class="header-nav-item">
                    <a href="<%= theme.sidebar.pages_lv2[i].link || '#' %>" title="<%= i %>">
                        <span><%= i %></span>
                    </a>
                </span>
            <% } %>
        </nav>
    </div>
</header>
